---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div class="site-title">
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/simon-sotak/" target="_blank">
        <span class="sr-only">LinkedIn Profile</span>
        <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
          <path
            fill="currentColor"
            d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
          ></path>
        </svg>
      </a>
      <a href="https://x.com/the21nd/" target="_blank">
        <span class="sr-only">X Profile</span>
        <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
          <path
            fill="currentColor"
            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--bg-alt);
    box-shadow: 0 2px 24px 0 #0003;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  .site-title {
    justify-self: start;
  }
  .internal-links {
    justify-self: center;
    display: flex;
    gap: 1em;
  }
  .social-links {
    justify-self: end;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--accent);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: color 0.2s;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent-hover);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
    nav {
      grid-template-columns: 1fr auto;
    }
    .internal-links {
      justify-self: end;
    }
  }
</style>
